<div class="flex flex-col items-center justify-center min-h-screen bg-gray-800">
    <div class="bg-white p-4 rounded-lg shadow-md text-center mb-6">
        <h1 class="text-3xl font-bold text-gray-800">Customer Relationship Management</h1>
    </div>

    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <div class="flex justify-around mb-6">
            <button (click)="setActiveTab('login')" [class.bg-gray-200]="activeTab === 'login'"
                [class.text-gray-700]="activeTab === 'login'"
                class="w-1/2 py-2 text-center font-medium text-gray-700 rounded-l-lg">
                Login
            </button>
            <button (click)="setActiveTab('signup')" [class.bg-gray-200]="activeTab === 'signup'"
                [class.text-gray-700]="activeTab === 'signup'"
                class="w-1/2 py-2 text-center font-medium text-gray-700 rounded-r-lg">
                Signup
            </button>
        </div>

        <form *ngIf="activeTab === 'login'" [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Username *</label>
                <input formControlName="username" type="text" placeholder="Enter your Username"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-400" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Password *</label>
                <input formControlName="password" type="password" placeholder="Enter your Password"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-400" />
            </div>

            <button type="submit" class="w-full bg-gray-800 text-white py-2 rounded-lg hover:bg-gray-600 transition">
                Login
            </button>
        </form>

        <form *ngIf="activeTab === 'signup'" [formGroup]="signupForm" (ngSubmit)="register()" class="space-y-4">
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Username *</label>
                <input formControlName="username" type="text" placeholder="Enter your Username"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-400" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Email *</label>
                <input formControlName="email" type="email" placeholder="Enter your Email"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-400" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Password *</label>
                <input formControlName="password" type="password" placeholder="Enter your Password"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-400" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Role *</label>
                <select formControlName="role"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-400">
                    <option value="" disabled>Select a Role</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                    <option value="Sales Representative">SalesPerson</option>
                    <option value="Account Manager">Account Manager</option>
                    <option value="Customer Support">Customer Support</option>
                    <option value="Marketing Manager">Marketing Manager</option>
                </select>
            </div>

            <button type="submit" class="w-full bg-gray-800 text-white py-2 rounded-lg hover:bg-gray-600 transition">
                Signup
            </button>
            
        </form>
    </div>
</div>